*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}
@font-face {
    font-family: roboto;
    src: url(/asset/font/Roboto-Medium.ttf);
}

/* Header */

#header_contener{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logotel{
    display: flex;
    justify-content: left;
    width: 60px;
    height:  40px;
    margin-left: 100px;  
}
.logo{
    height: auto;
    margin: auto;
}
#logoParty{
    height: 150px;
    margin-bottom: 20px;
}
#connect{
    color: black;
    text-decoration: none;
    padding-right: 20px;
    font-size: 25px;
}
.connexion{
    display: flex;
    align-items: center;
    margin-right: 50px;
    
}
.connexion a:last-child {
    margin-left: 20px;
}
.connexion a img {
    width: 25px;
    height: auto;
}
.téléphone a{
    color: red;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px
}
nav{
    max-width: 100%;
}
nav ul {
    background-color: black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
nav ul li a{
    color: yellow;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
#text_red{
    color: red;
}
#logo_panier{
    display: inline-block;
    padding: 0px 5px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
#logoPanier{
    height: 40px;
    width: 40px;
}
#logoLoupe {
    height: 40px;
    width: 40px;
}
@media screen and (max-width: 680px) {
    .téléphone,.logotel, #connect{
        display: none;
        justify-content: space-between;
    }
    #logoParty{
        width: 282px;
        height: auto;
    }
    #menu_principal{
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
}
/*  */

/* section produit phare */

#produitPhare {
    text-align: center;
    margin: 50px;
    font-size: 40px;
    font-size: 36px; /* Taille du titre */
    animation: breathe 1s infinite alternate; /* Animation de respiration */
}
@keyframes breathe {
    from {
        font-size: 30px; /* Taille de départ */
    }
    to {
        font-size: 45px; /* Taille maximale */
    }
}
#titreTacosAvocat{
    color: red; 
    margin: 20px 0px 70px 30px;
    font-size: 50px;
}
#img_avocat {
    border: 3px black solid;
    border-radius: 10px;
    box-shadow: 0px 5px 8px 4px rgba(0,0,0,0.1);
    height: 90%;
    width: 90%;
}
#blockPhare {
    display: flex;
    justify-content: center;
}
#listIngrediants{
    margin-left: 60px;
    font-size: 30px;
}
#contentPresentation{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    max-width: 1400px;
    height: 600px;;
    margin: auto;
    margin-top: 50px;
}
#blockPresentation{
    margin-top: 20px;
    margin-left: 30px;
    text-align: start;
    width: 50%;
    font-size: 25px;
}
#blockPresentation p{
    text-align: start;
    margin-right: 20px;
}
#blockPresentation span{
    font-weight: bold;
}
#blockPresentation h2 {
    margin-bottom: 20px;
}
#blockPresentationVisuel h3 {
    margin: 20px;
}
#contenuBlockPresentationVisuel{
    display: flex;
    flex-direction: column;
}
h3{
    font-size: 37px;

}
@media screen and (max-width: 680px) {
    *{
        margin: auto;
    }

    #produitPhare,#img_avocat{
        display: none;
    }
    #produitPhare{
        width: 70px;
        height: 50px;
    }
    #blockPhare{
        flex-direction: column;
    }
    #titreTacosAvocat{
        font-size: 20px;
    }
    #header_contener{
        flex-direction: column;
    }
    #logo_panier{
        border-left: none;
    }
    
}
/*  */

/* section 2 les menus */

#border_top{
    border-top: 3px black solid;
    max-width: 1400px;
    margin: auto;
}
.container_menus{
    display: flex;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
    margin-top: 50px;
    animation-duration: 3s;
    animation-name: anime;
}
@keyframes anime {
    from{
        margin: 100%;
        width: 300%;
    }
    to{
        margin-left: 13%;
        width: 100%;
    }
}
.container_menusDeux{ 
    display: flex;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
    margin-top: 50px;
    animation-duration: 3s;
    animation-name: anime2;
    padding-bottom: 50px;  
    border-bottom: 2px black solid;
}
@keyframes anime2 {
    from{
        margin: 100%;
        width: 300%;
    }
    to{
        margin-right: 13%;
        width: 1000%;
    }
}
.container_image{
    border: solid black  2px ;
    background-color: #ffeeac;
    border-radius: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.2s ease; /* Animation de transition */
}
.container_image img:hover {
    transform: scale(1.1); /* Effet de zoom au survol */
}
.image_menus{
    width: 300px;
    height: 300px;
    margin-left: 100px;
}
.titre_menus {
    font-size: 30px;
    margin: 20px;

}
#radius{
    border-radius: 5px;
}
@media screen and (max-width: 680px){
    .container_menus, .container_menusDeux{
        flex-direction: column;
        max-width: 680px;
    }
    .listIngrediants li{
        font-size: 15px;
    }
    #listIngrediants{
        font-size: 15px;
    }

}

/* Footer */


footer {
    background-color: black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
}
#stripe {
    height: 50px;
    width: 150px;
}
#loca{
    height: 30px;
    width: 30px;
    margin-right: 05px;
  
    
}
.address { 
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 680px) {
    #blockPresentation p {
        font-size: 10px;
    }
    
}

/*  */
